{% block avancetotalgpaexterno%}
<div class="container-text-totales">
    <p class="totales-sub">Población 10-14 años: </p><p> {{sum10}}</p>
</div>

<div class="container-text-totales">
    <p class="totales-sub">Población 15-19 años: </p><p> {{sum15}}</p>
</div>

<div class="container-text-totales">
    <p class="totales-sub">Servidoras/es: </p><p> {{sumPadres}}</p>
</div>
<div class="container-text-totales">
    <p class="totales-sub">Madres,Padres y/o Tutores: </p><p> {{sumServidores}}</p>
</div>
{%endblock%}