{%extends 'main.html' %}

{% block content %}
<div class="container-home">
  {{ include('navbar.html') }}
  
  <div class="buscador">
  
<label class="label-buscador">TEXTO DEL INFORME TRIMESTRAL</label>
{% if message%}
{%if class == 'blue'%}
 <label class="alert alert-primary">{{message}}</label>
 {%elseif class == 'red'%}
 <label class="alert alert-danger">{{message}}</label>
 {%endif%}
{% endif%}

  <form method="post" action="{{url_for('excelInformes')}}">
    <div class="buscador-descargable">
   <div class="col-label-descargable">
    <label >AÑO</label>
    <input class="input-descargable" name="año" id="años" type="number" value="{{año}}" required>
   </div>
   <div class="col-label-descargable">
<label >PROGRAMA/ACTIVIDAD</label>
<select class="input-descargable informe" name="programa" id="programa">
  <option value="seleccione" selected>Seleccione...</option>
  {% if rol == 'Administrador' or rol == 'Admin SEMUJERES-GEPEA'%}
  {% for p in programa%}
  <option value="{{p.nombre_programa}}">{{p.nombre_programa}}</option>
{% endfor%}
{%else%}
{% for p in programa%}
{% if p.fk_user == usuario%}
  <option value="{{p.nombre_programa}}">{{p.nombre_programa}}</option>
{%endif%}
{% endfor%}

{%endif%}
</select>
</div>
<div class="col-label-descargable">
<label>TRIMESTRE</label>

  <select class="col-form-control informe" name="trimestre" id="trimestre">
      <option value="seleccione" selected>Seleccione...</option>
      <option value="trimestre1">TRIMESTRE 1</option>
      <option value="trimestre2">TRIMESTRE 2</option>
      <option value="trimestre3">TRIMESTRE 3</option>
      <option value="trimestre4">TRIMESTRE 4</option>
  </select>
</div> 
<button type="submit" class="btn btn-descargable" >DESCARGAR</button> 
</div>


</form>

</div>

{% endblock %}