{%extends 'main.html' %}

        {% block content %}
        
            <div class="login-container">
                <form method="post" class="form-horizontal" autocomplete="on">
                    <div class="form-container"></div>
                    <div class="container-title-login">
						<p class="title-login">SSIGEN</p>
                        <p>Sistema de Seguimiento a las<br> Acciones para la Igualdad de Género</p>
					
                    </div>

                    {% if message%}
                            <label class="invalid_pass flag">{{message}}</label>
                    {% endif %}
                    <div class="container-inputs">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="font-login">
                                <i class="far fa-user"></i>
                                </div>  
                                <input class="form-control" name="correo" type="email" placeholder="correo@email.com" required><br>
                            </div>
                        </div>

                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="font-login">
                                <i class="fas fa-lock"></i>
                            </div>
                             <input class="form-control" name="pass" type="password" placeholder="Contraseña" required><br>
                            </div>
                        </div>
                    </div>
                        
                        <div class="forgot-pswd">
						 <!-- 	<a class="pswd" href="#">¿Olvidó Su Contraseña?</a>-->
                           <a class="pswd" href="{{url_for('recoverPassword')}}">¿Olvidó Su Contraseña?</a>
                        </div>
                        <div class="container-button" >
                            <button type="submit" class="btn btn-primary" >INICIAR SESIÓN</button>
                        </div>
                    </form>
                     
                </div>
    
{% endblock %}
       
