
{% block navbarheader %}
<div class="header">
    <div class="title">
      <div class="container-title-navbar">
        <label class="title-page">Sistema</label>
      </div>
      <div class="container-profile">
        <div class="font-login">
            <i class="far fa-user"></i>
        </div>
        <div class="dropdown">
            <button class="btn dropdown-toggle btn-user"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{nombre}}
         
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <label class="user-data"> {{ nombre ? nombre : 'NOMBRE USUARIO'}}</label><br>
                <label class="user-data"> {{ dependencia ? dependencia : 'DEPENDENCIA'}}</label>
               {% if rol == 'Administrador'%}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('registro')}}">Agregar Usuario</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('verCalendario')}}">Asignar Fecha Limite<br>De Captura</a>
				<div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('nuevoIndicador')}}">Agregar Nuevo<br>Indicador</a>
                {%endif%}
                <div class="dropdown-divider"></div>
                <form onsubmit="return confirm('¿ESTAS SEGURO O SEGURA DE CERRAR SESIÓN?');"  action="{{url_for('cerrarSesion')}}"  method="POST"> 
                <button type="submit" class="dropdown-item">Cerrar Sesión</button>
              </form>
            </div>
        
           
        </div>
      </div>

    </div> 
    
    
    <nav class="navbar navbar-expand-md navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav nav-fill w-100">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('inicio')}}"> <i class="fas fa-home"></i> INICIO <span class="sr-only">(current)</span></a>
			 
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('mapa')}}"><i class="fas fa-map-marker-alt"></i> MAPA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('indicadores')}}"><i class="fas fa-chart-area"></i> INDICADORES</a>
              </li>
            <li class="nav-item dropdown">
              <a class="btn dropdown-toggle btn-download" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-file-download"></i> DESCARGABLE
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{{url_for('descargable',{'id':'programas'})}}">Base de Datos</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('descargableinformes')}}">Texto del Informe Trimestral</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('descargable',{'id':'indicadores'})}}">Base de Datos Indicadores</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('descargableCatalogos')}}">Catálogos</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    
</div>
{% endblock %}
