{%extends 'main.html' %}

        {% block content %}
        <div class="container-home">
          
<div class="container-register">
    <div class="content-register">

        
     <p class="register-title-web">RECUPERAR CONTRASEÑA</p>
   
 
    {% if message %}
       {%if class == 'blue'%}
        <label class="alert alert-primary">{{message}}</label>
        {%elseif class == 'red'%}
        <label class="alert alert-danger">{{message}}</label>
        {%endif%}
    {% endif%}

    <div id="message-red"> <h7>La contraseña debe tener lo siguiente:</h7>
        <p id="letter" class="invalid">Mínimo una letra minúscula</p>
        <p id="capital" class="invalid">Mínimo una letra mayúscula</p>
        <p id="number" class="invalid">Mínimo un número</p>
        <p id="largo" class="invalid">Mínimo 8 caracteres</p>
    </div>
     <form class="form-row register"method="POST" autocomplete="on" >
        <div class="col-md-5">
            <label  class="form-label">Escribe la Nueva Contraseña</label>
             <input type="password" class="form-control" id="pswd1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="La contraseña debe tener al menos un número, una letra mayúscula y una minúscula.Mínimo 8 caracteres." name="pswd-recover1" required>
         
           
            <label class="form-label">Confirma la Nueva Contraseña</label>
            <input type="password" class="form-control" id="pswd2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="La contraseña debe tener al menos un número, una letra mayúscula y una minúscula.Mínimo 8 caracteres." name="pswd-recover2" required>     
            
            <div class="btn-recovery">
                <button id='signup-btn' type="submit" class="btn register">ENVIAR</button>  
                </div>
           
        </div>
        
            
       
    </div>
               
     
     </form>

 </div>

        </div>
        </div>
 {% endblock %}