{%extends 'main.html' %}

        {% block content %}
        <div class="container-home">
            {{ include('navbar.html') }}
<div class="container-register">
    <div class="content-register">

        
     <p class="register-title-web">RECUPERAR CONTRASEÑA</p>
   
          <div class="container-msg-recovery">
        <p>Enviamos un correo a <b>{{correo}}</b> para ayudarte a recuperar tu cuenta.</p>
        <p>Porfavor ingresa a tu correo y sigue los pasos para recuperar tu cuenta.</p>
      
    </div>
    </div>
            

 </div>

        </div>
 {% endblock %}